---
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import FormattedTags from '../components/FormattedTags.astro'
import BaseLayout from './BaseLayout.astro'

type BlogEntry = CollectionEntry<'blog'>
type Props = { curr: BlogEntry; prev?: BlogEntry; next?: BlogEntry }

const { curr, prev, next } = Astro.props
const { title, description, pubDate, tags } = curr.data

const proseBaseClass =
  'max-w-[80ch] text-base/7 [&_*]:my-5 [&>*:first-child]:mt-0 [&>*:last-child]:mb-0'
const proseAnchorClass = '[&_a]:text-blue-400 [&_a]:hover:underline'
const proseBlockquoteClass =
  '[&_blockquote]:bg-slate-50 [&_blockquote]:dark:bg-transparent [&_blockquote]:px-4 [&_blockquote]:py-2 [&_blockquote]:border-l-4 [&_blockquote]:border-gray-200'
const proseCodeClass =
  '[&_code]:text-sm [&_code]:bg-gray-200 dark:[&_code]:bg-gray-700 [&_code]:px-1.5 [&_code]:py-0.5 [&_code]:rounded-md [&_pre_code]:bg-inherit [&_pre_code]:p-0 [&_pre_code]:rounded-none'
const proseHeadingClass =
  '[&_h2,&_h3]:font-bold [&_h2]:text-2xl [&_h2]:mt-10 [&_h3]:text-xl'
const proseListClass =
  '[&_ol,&_ul]:pl-6 [&_ol]:list-decimal [&_ul]:list-disc [&_li]:my-1 [&_li]:pl-2'
const prosePreClass =
  '[&_pre]:whitespace-pre-wrap [&_pre]:px-4 [&_pre]:py-2 [&_pre]:rounded-lg [&_pre]:text-sm/6 [&_pre]:bg-slate-50'
const proseFootnotesClass =
  '[&>*.footnotes]:mt-10 [&>*.footnotes]:border-t [&>*.footnotes]:border-gray-200 [&>*.footnotes]:text-sm [&>*.footnotes_*]:my-3 [&>*.footnotes>h2]:hidden'
const proseMiscClass = '[&_summary,&_details]:m-0'

const footerClass =
  'text-sm sm:text-base font-bold flex justify-between gap-4 sm:gap-8'
const footerLinkClass =
  'flex items-center gap-1 sm:gap-2 hover:text-blue-400 hover:underline'
---

<BaseLayout title={title} description={description}>
  <div class="grid gap-y-4 max-w-[80ch] mx-auto">
    <section>
      <a href="/blog" class="text-gray-400 hover:text-blue-400 hover:underline"
        >← Blog</a
      >
    </section>
    <article class="grid gap-y-8">
      <header>
        <h1 class="text-3xl font-bold pb-4">{title}</h1>
        <div>
          <FormattedDate date={pubDate} />
        </div>
        <div>
          <FormattedTags tags={tags} />
        </div>
      </header>
      <div
        class:list={[
          proseBaseClass,
          proseAnchorClass,
          proseBlockquoteClass,
          proseCodeClass,
          proseHeadingClass,
          proseListClass,
          prosePreClass,
          proseFootnotesClass,
          proseMiscClass,
        ]}
      >
        <slot />
      </div>
      <footer class={footerClass}>
        {
          prev ? (
            <a href={`/blog/${prev.slug}/`} class={footerLinkClass}>
              <Icon
                class="flex-shrink-0 mt-0.5 sm:mt-1 w-auto h-4 sm:h-5"
                name="feather:chevron-left"
              />
              {prev.data.title}
            </a>
          ) : (
            <span />
          )
        }
        {
          next && (
            <a
              href={`/blog/${next.slug}/`}
              class:list={[footerLinkClass, 'text-right']}
            >
              {next.data.title}
              <Icon
                class="flex-shrink-0 mt-0.5 sm:mt-1 w-auto h-4 sm:h-5"
                name="feather:chevron-right"
              />
            </a>
          )
        }
      </footer>
    </article>
  </div>
</BaseLayout>
