---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import FormattedDate from "../components/FormattedDate.astro";
import FormattedTags from "../components/FormattedTags.astro";
import BaseLayout from "./BaseLayout.astro";

type BlogEntry = CollectionEntry<"blog">;
type Props = { curr: BlogEntry; prev?: BlogEntry; next?: BlogEntry };

const { curr, prev, next } = Astro.props;
const { title, description, pubDate, tags } = curr.data;

const proseAnchorClass =
  "prose-a:text-blue-400 prose-a:no-underline hover:prose-a:underline";
const proseBlockquoteClass =
  "prose-blockquote:bg-slate-50 prose-blockquote:py-2 prose-blockquote:px-4 prose-blockquote:not-italic before:[&>*]:prose-blockquote:content-none";
const prosePreClass = "prose-pre:whitespace-pre-wrap";
const proseFootnotesClass =
  "[&>*.footnotes]:mt-12 [&>*.footnotes]:border-t [&>*.footnotes>h2]:hidden [&>*.footnotes]:text-sm";

const footerClass =
  "text-sm sm:text-base font-bold flex justify-between gap-4 sm:gap-8";
const footerLinkClass =
  "flex items-center gap-1 sm:gap-2 hover:text-blue-400 hover:underline";
---

<BaseLayout title={title} description={description}>
  <div class="grid gap-y-4 max-w-screen-md mx-auto">
    <section>
      <a href="/blog" class="text-gray-400 hover:text-blue-400 hover:underline"
        >← Blog</a
      >
    </section>
    <article class="grid gap-y-8">
      <header>
        <FormattedDate date={pubDate} />
        <h1 class="text-3xl font-bold pb-4">{title}</h1>
        <FormattedTags tags={tags} />
      </header>
      <div
        class:list={[
          "prose max-w-screen-md",
          proseAnchorClass,
          proseBlockquoteClass,
          prosePreClass,
          proseFootnotesClass,
        ]}
      >
        <slot />
      </div>
      <footer class={footerClass}>
        {
          prev ? (
            <a href={`/blog/${prev.slug}/`} class={footerLinkClass}>
              <Icon
                class="flex-shrink-0 mt-0.5 sm:mt-1 w-auto h-4 sm:h-5"
                name="feather:chevron-left"
              />
              {prev.data.title}
            </a>
          ) : (
            <span />
          )
        }
        {
          next && (
            <a
              href={`/blog/${next.slug}/`}
              class:list={[footerLinkClass, "text-right"]}
            >
              {next.data.title}
              <Icon
                class="flex-shrink-0 mt-0.5 sm:mt-1 w-auto h-4 sm:h-5"
                name="feather:chevron-right"
              />
            </a>
          )
        }
      </footer>
    </article>
  </div>
</BaseLayout>
